@model MyProject.Models.ViewModels.CartVM
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var items in Model.ListOfCart){
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@items.Course.ImageUrl" style="width: 72px; height: 72px;"> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">@items.Course.CourseName</a></h4>
                                        <h5 class="media-heading"> Description: @items.Course.Description</h5>
                                        <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                @*<input type="email" class="form-control" id="exampleInputEmail1" value="@items.Count">*@
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>RS @items.Course.Price</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>RS @(items.Course.Price)</strong></td>
                            <td class="col-sm-1 col-md-1">
                                <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@items.Id">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>RS @Model.OrderHeader.OrderTotal</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </a>
                        </td>
                        <td>
                            <a asp-action="Summary" class="btn btn-success">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
